# This file includes global variables that will be available inside your project
# In the app.py file, you can access the variable by importing os and then using print(os.getenv('VARIABLE_NAME'))

CLIENT_ID=1bc9dfb95fb8447e876622c8b1e9ec45
CLIENT_SECRET=7cf802839ece47d594dc040e1aad6d7b